# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
src/main/resources/
target/generated-sources/
target/generated-test-sources/
src/main/java/hll/
target/archive-tmp/
